body{
  background-color: #F3E8DF;
  text-align: center;
}

h1{
  font-family: 'Lobster', cursive;
  font-size: 8rem;
  color:#452829;
  margin:30px;
  text-shadow: 2px 0 #57595B;
}
p{
  font-size: 2rem;
  font-family: 'Indie Flower', cursive;
  
  color:#452829 ;
  margin:15px;
}
footer{
  color:black;
  margin-top: 5%;
}
.dice{
  display: inline-block;
  text-align:center ;
}
img{
  width:80%;
}

